<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/index.css" />
    <title>Details {{data.recallId}}</title>
  </head>
  <body>
    <div class="main-div">
      <a href="/"><button class="main-button">Main Page</button></a>
      <h2></h2>
      <div id="details-top" class="search-panel"></div>
      <div id="details-panels"></div>
    </div>

    <script type="text/javascript">
      const id = {{{id}}}

      function loadPage(data) {
        console.log(data);

        document.getElementsByTagName("h2")[0].innerHTML = data.title

        var topDiv = document.getElementById("details-top")
        var topContent = `
        <p><strong>Recall ID: </strong>${data.recallId}</p>
        <p><strong>Date published: </strong>${new Date(data.date_published*1000).toUTCString().split(' ').slice(0,4).join(' ')}</p>
        <p><strong>Start date: </strong>${new Date(data.start_date*1000).toUTCString().split(' ').slice(0,4).join(' ')}</p>
        <a href=${data.url} target="_blank"><button class="search-button">URL</button></a>
        `
        topDiv.innerHTML = topContent

        data.panels.forEach(panel => {
          var panelContent = `
          <div class="search-panel">
            <h4>${panel.title}</h4>
            <p>${panel.text}</p>
          </div>
          `

          var panelDiv = document.getElementById("details-panels")
          if (panel.title==='Images') {
            panel.data.forEach(image=>{
              var imagesContent = `
                <div class="search-panel">
                  <h4>${image.title}</h4>
                  <img src="http://healthycanadians.gc.ca${image.fullUrl}" alt="recall image" >
                </div>
                `
              panelDiv.innerHTML += imagesContent
            })
          } else {
            panelDiv.innerHTML += panelContent
          }
        });
      }

      function getDetails() {
          fetch(`http://localhost:3000/api/details/${id}`)
            .then(function (response) {
              if (response.status !== 200) {
                console.log(
                  "Looks like there was a problem. Status Code: " +
                    response.status
                );
                return;
              }
              // Examine the text in the response
              response.json().then(function (data) {
                loadPage(data.data);
              });
            })
            .catch(function (err) {
              console.log("Fetch Error :-S", err);
            });
      }
      getDetails()
    </script>
  </body>
</html>
