<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/index.css" />
    <title>C4C</title>
  </head>
  <body>
    <nav class="main-box">
      <h2>C4C Tech Interview</h2>
      <ul>
        <li>
          <a href="/recent"><button class="main-button">recent</button> </a>
        </li>
        <li>
          <a href="/search"><button class="main-button">search</button> </a>
        </li>
      </ul>
    </nav>
    <script type="text/javascript" src="/index.js"></script>
  </body>
</html>
