<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>C4C</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/recent">recent</a></li>
        <li><a href="/details">details</a></li>
        <li><a href="/search">search</a></li>
      </ul>
    </nav>
    <script type="text/javascript" src="/index.js"></script>
  </body>
</html>
