<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/index.css" />
    <title>Recent</title>
  </head>
  <body>
    <div class="main-div">
      <a href="/"><button class="main-button">Main Page</button></a>
      <h2>Recent Recalls</h2>
      <select id="select-cat" class="give-padding">
        <option value="0">ALL</option>
        <option value="1">FOOD</option>
        <option value="2">VEHICLE</option>
        <option value="3">HEALTH</option>
        <option value="4">CPS</option>
      </select>
      <button id="get-recent" class="give-padding">Get Recent Recalls</button>

      <table>
        <thead id="table-head" class="toggle-content">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Date Published</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>

    <script type="text/javascript" src="/recent.js"></script>
  </body>
</html>
