ul {
  list-style: none;
}
.main-button {
  background-color: skyblue;
  margin: 10px 0;
  padding: 5px;
  width: 150px;
}
.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: table-header-group;
}

table {
  margin: 20px 0;
  border-spacing: 0ch;
  border-right: gray solid 1px;
  border-bottom: gray solid 1px;
}

th,
td {
  padding: 8px;
  border: gray solid 1px;
  border-bottom: none;
  border-right: none;
}

.main-div {
  margin: auto;
  width: 70%;
}

.give-padding {
  padding: 5px 10px;
}

.search-panel {
  border: gray solid 1px;
  margin: 10px 0;
  padding: 5px;
  position: relative;
}

.search-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.search-page {
  position: absolute;
  display: inline-block;
  right: 10px;
  margin: 10px 0;
  background-color: rgb(245, 235, 219);
}

img {
  display: block;
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.relative {
  position: relative;
}
